asgiref==3.11.0
asttokens==3.0.1
attrs==25.4.0
click==8.3.1
colorama==0.4.6
decorator==5.2.1
Django==6.0.1
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
executing==2.2.1
gunicorn==26.0.0
inflection==0.5.1
ipython==9.9.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
matplotlib-inline==0.2.1
mypy_extensions==1.1.0
packaging==26.0
parso==0.8.5
pathspec==1.0.4
pillow==12.1.0
platformdirs==4.9.2
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
pure_eval==0.2.3
Pygments==2.19.2
PyJWT==2.10.1
python-dotenv==1.2.1
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
setuptools==80.9.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.3
uritemplate==4.2.0
uuid==1.30
wcwidth==0.5.0
wheel==0.45.1
